

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.smartpointer.it.*
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteCond %{HTTP_HOST} ^www.smartpointer.it.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

RewriteCond $1 !^(favicon\.ico|robots\.txt|googledcddcb52642230d3\.html|index\.php|asset|images|user_data|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>